{% extends "layout.html" %}

{% block title %}
    Buy stocks
{% endblock %}

{% block main %}
    <h4>Buy stocks</h4>
    <p></p>
    <form action="/buy" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Stock code" name="symbol" autocomplete="off" autofocus required>
            <div class="invalid-feedback">
                Enter a stock code!
            </div>
        </div>
        <div class="form-group">
            <input type="number" min="1" class="form-control" placeholder="Number of shares" name="shares" id="number" autocomplete="off" required>
            <div id="msg"></div>
        </div>

        <button class="btn btn-primary" type="submit" id="submit">Buy</button>
    </form>

     <script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>

    <script>
    $(document).ready(function(){
        $("#submit").click(function(e){
            num = document.getElementById('number').value;
            if ($("#number").val() == "") {
                  $("#msg").html("Enter number of shares to sell").css("color","red");
                  e.preventDefault();
                  e.stopPropagation();
            } else if ($("#number").val() <= 0) {
                $("#msg").html("Number cannot be less than 0").css("color","red");
                e.preventDefault();
                e.stopPropagation();
            } else if (!Number.isInteger(+num)) {
                 $("#msg").html("Number must be an integer").css("color","red");
                 e.preventDefault();
                 e.stopPropagation();
            }
        });
    });
    </script>

{% endblock %}