{% extends "layout.html" %}

{% block href %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block title %}
    Change password
{% endblock %}

{% block main %}
    <h4>Change your password</h4>
    <p></p>
    <form action="/change_password" method="post" class="needs-validation" novalidate>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Old password" name="old" id="old" autofocus required>
            <i id="pass-status" class="fa fa-eye" aria-hidden="true" onClick="viewPassword()"></i>
            <div class="invalid-feedback">
                Enter your old password!
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="New password" name="new" id="new" required>
            <div class="invalid-feedback">
                Enter a new password!
            </div>
        </div>

        <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm password" name="confirm" id="confirm" required>
            <div class="invalid-feedback">
                Enter your new password again!
            </div>
            <div id="msg"></div>
        </div>

        <button class="btn btn-primary" type="submit" id="submit">Change password</button>
    </form>

    <script>
    function viewPassword() {
        var passwordInput = document.getElementById('old');
        var passStatus = document.getElementById('pass-status');

        if (passwordInput.type == 'password'){
            passwordInput.type='text';
            passStatus.className='fa fa-eye-slash';
        } else{
            passwordInput.type='password';
            passStatus.className='fa fa-eye';
        }
    }
    </script>

    <script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
    </script>

    <script>
    $(document).ready(function(){
        $("#submit").click(function(e){
             if ($("#new").val() != $("#confirm").val()) {
                 $("#msg").html("Password do not match").css("color","red");
                 e.preventDefault();
             }
        });
    });
    </script>
{% endblock %}