{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Symbol</th>
            </tr>
        </thead>
        <tbody>
            {% for quote in quotes %}
            <tr>
                <td>{{ quote["name"] }}</td>
                <td>{{ quote["price"] | usd}}</td>
                <td>{{ quote["symbol"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}