{% extends "layout.html" %}

{% block title %}
    Transactions
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.date_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}